node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
*.log

data/
.idea/
venv/

# macOS
.DS_Store

deploy/.env
dump.rdb
.env.local
deploy/db/user.json
*.temprp.*
