<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CLIENT_ID</key>
    <string>862371778549-54oedcqsih64ea37m8ipkn94g7pib74p.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.862371778549-54oedcqsih64ea37m8ipkn94g7pib74p</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>862371778549-2f9ogtvfh2oabqh044um24fk9rh4b6fj.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>__API_KEY__</string>
    <key>GCM_SENDER_ID</key>
    <string>862371778549</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>tech.oxymore.liane</string>
    <key>PROJECT_ID</key>
    <string>liane-65471</string>
    <key>STORAGE_BUCKET</key>
    <string>liane-65471.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:862371778549:ios:e6f3940d4efe9fc1e8dabc</string>
  </dict>
</plist>