*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}

.absolute {
  position: absolute
}

.top-1 {
  top: 0.25rem
}

.right-1 {
  right: 0.25rem
}

.-top-2 {
  top: -0.5rem
}

.left-0 {
  left: 0px
}

.right-0 {
  right: 0px
}

.top-1\/2 {
  top: 50%
}

.z-10 {
  z-index: 10
}

.z-20 {
  z-index: 20
}

.m-3 {
  margin: 0.75rem
}

.m-2 {
  margin: 0.5rem
}

.m-10 {
  margin: 2.5rem
}

.m-1 {
  margin: 0.25rem
}

.m-20 {
  margin: 5rem
}

.m-5 {
  margin: 1.25rem
}

.my-20 {
  margin-top: 5rem;
  margin-bottom: 5rem
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mr-2 {
  margin-right: 0.5rem
}

.mt-0 {
  margin-top: 0px
}

.mt-5 {
  margin-top: 1.25rem
}

.ml-10 {
  margin-left: 2.5rem
}

.mr-10 {
  margin-right: 2.5rem
}

.-mb-20 {
  margin-bottom: -5rem
}

.mr-3 {
  margin-right: 0.75rem
}

.-mb-1 {
  margin-bottom: -0.25rem
}

.-mt-1 {
  margin-top: -0.25rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.ml-1 {
  margin-left: 0.25rem
}

.ml-3 {
  margin-left: 0.75rem
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.h-20 {
  height: 5rem
}

.h-full {
  height: 100%
}

.h-10 {
  height: 2.5rem
}

.h-3 {
  height: 0.75rem
}

.h-24 {
  height: 6rem
}

.h-5 {
  height: 1.25rem
}

.h-12 {
  height: 3rem
}

.h-4 {
  height: 1rem
}

.h-2\/5 {
  height: 40%
}

.h-2 {
  height: 0.5rem
}

.h-6 {
  height: 1.5rem
}

.h-7 {
  height: 1.75rem
}

.h-8 {
  height: 2rem
}

.min-h-full {
  min-height: 100%
}

.w-2\/12 {
  width: 16.666667%
}

.w-5\/12 {
  width: 41.666667%
}

.w-3\/12 {
  width: 25%
}

.w-full {
  width: 100%
}

.w-64 {
  width: 16rem
}

.w-3 {
  width: 0.75rem
}

.w-5 {
  width: 1.25rem
}

.w-12 {
  width: 3rem
}

.w-5\/6 {
  width: 83.333333%
}

.w-4\/6 {
  width: 66.666667%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-auto {
  flex: 1 1 auto
}

.flex-grow {
  flex-grow: 1
}

.flex-row {
  flex-direction: row
}

.flex-row-reverse {
  flex-direction: row-reverse
}

.flex-col {
  flex-direction: column
}

.content-center {
  align-content: center
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.self-center {
  align-self: center
}

.self-stretch {
  align-self: stretch
}

.rounded-full {
  border-radius: 9999px
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded {
  border-radius: 0.25rem
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-r-full {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px
}

.border {
  border-width: 1px
}

.border-0 {
  border-width: 0px
}

.border-2 {
  border-width: 2px
}

.border-solid {
  border-style: solid
}

.border-liane-yellow {
  --tw-border-opacity: 1;
  border-color: rgb(255 181 69 / var(--tw-border-opacity))
}

.border-liane-blue-30 {
  --tw-border-opacity: 1;
  border-color: rgb(11 121 249 / var(--tw-border-opacity))
}

.border-liane-orange {
  --tw-border-opacity: 1;
  border-color: rgb(255 91 34 / var(--tw-border-opacity))
}

.bg-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity))
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.bg-orange-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(251 146 60 / var(--tw-bg-opacity))
}

.bg-yellow-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(250 204 21 / var(--tw-bg-opacity))
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity))
}

.bg-liane-yellow {
  --tw-bg-opacity: 1;
  background-color: rgb(255 181 69 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.bg-blue-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(30 64 175 / var(--tw-bg-opacity))
}

.bg-liane-orange {
  --tw-bg-opacity: 1;
  background-color: rgb(255 91 34 / var(--tw-bg-opacity))
}

.bg-gray-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity))
}

.bg-liane-blue-30 {
  --tw-bg-opacity: 1;
  background-color: rgb(11 121 249 / var(--tw-bg-opacity))
}

.bg-transparent {
  background-color: transparent
}

.p-8 {
  padding: 2rem
}

.p-3 {
  padding: 0.75rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.px-1\.5 {
  padding-left: 0.375rem;
  padding-right: 0.375rem
}

.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px
}

.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.pt-8 {
  padding-top: 2rem
}

.pr-8 {
  padding-right: 2rem
}

.pt-5 {
  padding-top: 1.25rem
}

.pb-5 {
  padding-bottom: 1.25rem
}

.pl-2 {
  padding-left: 0.5rem
}

.text-center {
  text-align: center
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.font-semibold {
  font-weight: 600
}

.font-bold {
  font-weight: 700
}

.font-extralight {
  font-weight: 200
}

.font-medium {
  font-weight: 500
}

.font-normal {
  font-weight: 400
}

.italic {
  font-style: italic
}

.text-liane-orange {
  --tw-text-opacity: 1;
  color: rgb(255 91 34 / var(--tw-text-opacity))
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity))
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity))
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.text-liane-blue-30 {
  --tw-text-opacity: 1;
  color: rgb(11 121 249 / var(--tw-text-opacity))
}

.opacity-0 {
  opacity: 0
}