@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 7px;
  background-color: rgba(231, 231, 231, 0.5);
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  border: 1px solid transparent;
  background-clip: content-box;
  background-color: #000000;
}

.animate {
  animation-duration: 0.3s;
  animation-name: animate-fade;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1);
}


.animate.slide { animation-name: animate-slide; }

@keyframes animate-slide {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.map-popup-container .maplibregl-popup-content {
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}

.map-popup-container .maplibregl-popup-tip {
  border: none;
}