.App {
}

html, body {
  padding:0;
  margin: 0;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  
}
table {
  width: 100%;
}
th, td {
  padding: 5px;
}

.map {
  alignment: center;
  width: 60vh;
  height: 60vh;
}